<li>
    <!-- post.data로 사용해서 코딩한다. --> 
    <!-- snippet은 grid-template-areas를 사용해서 영역을 정한다. -->       
    <article class="snippet">        
        <img src="{{ post.data.image }}" alt="{{ post.data.Alt }}" class="snippet__image">
        <h3 class="snippet__title">
            <!-- post.url를 post의 주소다. -->
            <!-- post.url은 meta data에 설정한 값이 아니다. -->
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        <p class="snippet__meta">by <span>{{ post.data.author }}</span> on <span>{{ post.data.date | postDate }}</span>
        </p>
        <p class="snippet__body">{{ post.data.description }}</p>
        
        <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>
    </article>
</li>